In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Datasets/trainData/Emotions/ds2/text_emotion.csv')

In [19]:
df_new = df.iloc[:, [1,3]]

In [25]:
df_new.columns = ['emotions', 'text']

In [26]:
df_new.head()

     emotions                                               text
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

In [4]:
df['sentiment'].value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [6]:
df2 = pd.read_csv('../Datasets/trainData/Emotions/ds1/train.txt', delimiter=';', names=['text', 'emotions'])

In [7]:
df2.head()

                                                text emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [8]:
df3 = pd.read_csv('../Datasets/trainData/Emotions/ds1/val.txt', delimiter=';', names=['text', 'emotions'])

In [9]:
df3.head()

                                                text emotions
0  im feeling quite sad and sorry for myself but ...  sadness
1  i feel like i am still looking at a blank canv...  sadness
2                     i feel like a faithful servant     love
3                  i am just feeling cranky and blue    anger
4  i can have for a treat or if i am feeling festive      joy

In [11]:
frames = [df2, df3]
concat_frame = pd.concat(frames)

In [13]:
concat_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      18000 non-null  object
 1   emotions  18000 non-null  object
dtypes: object(2)
memory usage: 421.9+ KB

In [14]:
df['sentiment'].value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [15]:
concat_frame['emotions'].value_counts()

joy         6066
sadness     5216
anger       2434
fear        2149
love        1482
surprise     653
Name: emotions, dtype: int64

In [27]:
frames_1 = [concat_frame, df_new]
df_emotions_final = pd.concat(frames_1)

In [28]:
df_emotions_final.head()

                                                text emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [30]:
df_emotions_final['emotions'].value_counts()

sadness       10381
neutral        8638
worry          8459
joy            6066
love           5324
happiness      5209
surprise       2840
anger          2544
fear           2149
fun            1776
relief         1526
hate           1323
empty           827
enthusiasm      759
boredom         179
Name: emotions, dtype: int64

In [31]:
df_emotions_final.to_csv('../Datasets/trainData/Emotions/ds2/text_emotion.csv')