In [1]:
import pandas as pd

In [2]:
df_orig = pd.read_csv('../Datasets/train/steam_ds.csv')
df_Afham = pd.read_csv('../Datasets/labeled_dataset/train_afham.csv')
df_Nora = pd.read_csv('../Datasets/labeled_dataset/train_lonora.csv')
df_Arun = pd.read_csv('../Datasets/labeled_dataset/train_arun.csv')
df_Farida = pd.read_csv('../Datasets/labeled_dataset/train_farida.csv')

In [26]:
df_Farida

,review_id,title,year,user_review,user_suggestion,emotions
0,251,Spooky's Jump Scare Mansion,2015.0,"Early Access ReviewSo, I was all like, ""Aww, t...",1,fun
1,252,Spooky's Jump Scare Mansion,2017.0,Very fun and actually terrifying game. Got in...,1,hapiness
2,253,Spooky's Jump Scare Mansion,2015.0,"Early Access ReviewSo far, this has been an am...",1,fear
3,254,Spooky's Jump Scare Mansion,2015.0,Early Access ReviewI really was not impressed ...,1,fear
4,255,Spooky's Jump Scare Mansion,2015.0,Early Access ReviewAfter looking at the video ...,1,happiness
...,...,...,...,...,...,...
245,496,Sakura Clicker,2015.0,This is a side activity video game and you can...,1,neutral
246,497,Sakura Clicker,2015.0,"this game is soooo amazing, because it only re...",1,happiness
247,498,Sakura Clicker,2015.0,>be me>soul-less weeaboo that is trying to loo...,1,fun
248,499,Sakura Clicker,2016.0,How to play Sakura Clicker:1: Install. (Come o...,1,sadness
249,500,Sakura Clicker,2015.0,This game is everything you would ever want in...,1,love

In [22]:
#df_Arun.columns = ['review_id','title','year','user_review','user_suggestion','emotions']

In [ ]:
df_comb = [df_Afham, df_Farida, df_Arun, df_Nora]

In [ ]:
df_merged = pd.concat(df_comb)

In [ ]:
df_merged.shape

In [ ]:
df_merged.to_csv('../Datasets/labeled_dataset/test_merged.csv', index=False)