In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import re
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
import spacy
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
import nltk
nltk.download('stopwords')
from sklearn.metrics import recall_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
from google.colab import files
uploaded = files.upload()

Saving text_emotion_updated.csv to text_emotion_updated.csv

In [26]:
#df = pd.read_csv('../Datasets/trainData/all-data.csv', encoding = "ISO-8859-1" , header=None , names=["Sentiment", "Reviews"]) 
import io
df = pd.read_csv(io.BytesIO(uploaded['text_emotion_updated.csv']))
df.head()

   Unnamed: 0                                               text   emotions
0           0                            i didnt feel humiliated    sadness
1           1  i can go from feeling so hopeless to so damned...    sadness
2           2   im grabbing a minute to post i feel greedy wrong      anger
3           3  i am ever feeling nostalgic about the fireplac...  happiness
4           4                               i am feeling grouchy      anger

In [27]:
nlp = spacy.load('en_core_web_sm', disable=['parser', 'ner'])

In [28]:
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df.head()

   Unnamed: 0                                               text   emotions
0           0                            i didnt feel humiliated    sadness
1           1  i can go from feeling so hopeless to so damned...    sadness
2           2   im grabbing a minute to post i feel greedy wrong      anger
3           3  i am ever feeling nostalgic about the fireplac...  happiness
4           4                               i am feeling grouchy      anger

In [29]:
df['text'] = df['text'].str.replace('[^\w\s]','')
df.head()

   Unnamed: 0                                               text   emotions
0           0                            i didnt feel humiliated    sadness
1           1  i can go from feeling so hopeless to so damned...    sadness
2           2   im grabbing a minute to post i feel greedy wrong      anger
3           3  i am ever feeling nostalgic about the fireplac...  happiness
4           4                               i am feeling grouchy      anger

In [30]:
stop = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df.head()

   Unnamed: 0                                               text   emotions
0           0                              didnt feel humiliated    sadness
1           1  go feeling hopeless damned hopeful around some...    sadness
2           2          im grabbing minute post feel greedy wrong      anger
3           3  ever feeling nostalgic fireplace know still pr...  happiness
4           4                                    feeling grouchy      anger

In [31]:
def space(comment):
    doc = nlp(comment)
    return " ".join([token.lemma_ for token in doc])
df['text']= df['text'].apply(space)
df.head()

   Unnamed: 0                                               text   emotions
0           0                              do not feel humiliate    sadness
1           1  go feel hopeless damned hopeful around someone...    sadness
2           2       -PRON- be grab minute post feel greedy wrong      anger
3           3  ever feel nostalgic fireplace know still property  happiness
4           4                                       feel grouchy      anger

In [32]:
le = preprocessing.LabelEncoder()
df['emotions'] = le.fit_transform(df['emotions'])
df.head()

   Unnamed: 0                                               text  emotions
0           0                              do not feel humiliate         5
1           1  go feel hopeless damned hopeful around someone...         5
2           2       -PRON- be grab minute post feel greedy wrong         0
3           3  ever feel nostalgic fireplace know still property         3
4           4                                       feel grouchy         0

In [33]:
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(df['text'])
X_train, X_test, Y_train, Y_test = train_test_split(text_counts,df['emotions'] ,test_size=0.25, random_state=5)

In [56]:
MNB = MultinomialNB()
MNB.fit(X_train, Y_train)
#gnb.fit(data_train, target_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [60]:
predicted = MNB.predict(X_test)
accuracy_score = metrics.accuracy_score(predicted, Y_test)
print(str('{:04.2f}'.format(accuracy_score*100))+'%')

47.15%

In [61]:
recall = recall_score( Y_test, predicted, average= 'micro')
print('Recall: %.3f' % recall)

Recall: 0.472

In [46]:
from google.colab import files
uploaded = files.upload()

Saving test_merged.csv to test_merged.csv

In [47]:
dt = pd.read_csv(io.BytesIO(uploaded['test_merged.csv']))
dt.head()

   review_id                        title  ...  user_suggestion   emotions
0          1  Spooky's Jump Scare Mansion  ...                1       fear
1          2  Spooky's Jump Scare Mansion  ...                1  happiness
2          3  Spooky's Jump Scare Mansion  ...                1  happiness
3          4  Spooky's Jump Scare Mansion  ...                1  happiness
4          5  Spooky's Jump Scare Mansion  ...                1  happiness

[5 rows x 6 columns]

In [48]:
dt["emotions"].replace({"joy": "happiness", "love": "happiness", "fun": "happiness", "relief": "happiness", "enthusiasm": "happiness", "empty": "boredom", "hate": "anger", "worry": "fear","happpiness":"happiness","hapiness":"happiness","None":"neutral",'NaN':"neutral"}, inplace=True)

In [49]:
dt['emotions'] = dt['emotions'].fillna('neutral')
print(dt['emotions'].value_counts())

happiness    535
anger        157
fear         106
sadness      102
neutral       42
boredom       33
surprise      26
Name: emotions, dtype: int64

In [50]:
test_labels = list(dt.emotions)
test_labels = le.transform(test_labels)

In [58]:
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(df['text'])
test_counts = cv.transform(dt ['user_review'])

In [59]:
X_train = text_counts
Y_train = df['emotions']
X_test = test_counts
Y_test = test_labels